body,
th,
td,
.sectionInfo {
	font: .8em Verdana, Arial, Helvetica, Sans-Serif;
}

.nobr {
	white-space:nowrap;
}

img {
	border:0;
	margin:0;
	padding:0;
}

#player {
	margin-left:auto;
	margin-right:auto;
}

#player td {
	font-family:Sans-Serif;
	font-size:13px;
}

#header td {
	height:30px;
}

#headerIcon {
	background:url(img/headericon.png) no-repeat;
	width:22px;
}

#headerBack {
	background:url(img/headerback.png) repeat-x;
	color:white;
	font-weight:bold;
}

#headerClose {
	background:url(img/headerclose.png) no-repeat;
	width:28px;
}

#durstr,
#posstr,
#status,
#title {
	display:inline;
}

#menu td {
	font-family:Sans-Serif;
	font-size:12px;
	padding:1px 5px;
}

#controlbar,
#menu {
	background-color:#ECE6D4;
}

#statusbar td {
	font-family:Sans-Serif;
	font-size:12px;
}

#statusbar,
#video {
	background-color:black;
	color:white;
}

#video {
	cursor:pointer;
	padding:1px;
}

#controlbar {
	background:url(img/controlback.png) repeat-x;
	height:28px;
}

#controlbuttonplay {
	background:url(img/controlbuttonplay.png) no-repeat;
	width:25px;
	height:28px;
}

#controlbuttonpause {
	background:url(img/controlbuttonpause.png) no-repeat;
	width:23px;
	height:28px;
}

#controlbuttonstop {
	background:url(img/controlbuttonstop.png) no-repeat;
	width:25px;
	height:28px;
}

#controlbuttonskipback {
	background:url(img/controlbuttonskipback.png) no-repeat;
	width:24px;
	height:28px;
}

#controlbuttondecrate {
	background:url(img/controlbuttondecrate.png) no-repeat;
	width:22px;
	height:28px;
}

#controlbuttonincrate {
	background:url(img/controlbuttonincrate.png) no-repeat;
	width:23px;
	height:28px;
}

#controlbuttonskipforward {
	background:url(img/controlbuttonskipforward.png) no-repeat;
	width:28px;
	height:28px;
}

#controlbuttonstep {
	background:url(img/controlbuttonstep.png) no-repeat;
	width:31px;
	height:28px;
}

#controlvolumemute {
	background:url(img/controlvolumeon.png) no-repeat;
	width:28px;
	height:28px;
}

#controlvolumebar {
	background:url(img/controlvolumebar.png) no-repeat;
	width:55px;
	height:28px;
}

#seekbar {
	background:url(img/seekbarmid.png) repeat-x;
}

#leftside {
	background:url(img/leftside.png) repeat-y;
	width:4px;
}

#rightside {
	background:url(img/rightside.png) repeat-y;
	width:4px;
}

#leftbottomside {
	background:url(img/leftbottomside.png) repeat-x;
	width:4px;
	height:4px;
}

#bottomside {
	background:url(img/bottomside.png) repeat-x;
	height:4px;
}

#rightbottomside {
	background:url(img/rightbottomside.png) repeat-x;
	width:4px;
	height:4px;
}

#center,
#header {
	width:100%;
}

#debug {
	white-space:pre-wrap;
}
