body,th,td,.sectionInfo {
	font-size:.8em;
	font-family:Verdana, Arial, Helvetica, Sans-Serif
}

.nobr {
	white-space:nowrap
}

img {
	border:0;
	margin:0;
	padding:0
}

#player {
	margin-left:auto;
	margin-right:auto
}

#player td {
	font-family:Sans-Serif;
	font-size:13px
}

#header td {
	height:30px
}

#headericon {
	width:22px;
	background:url(img/headericon.png) no-repeat
}

#headerback {
	color:#FFF;
	font-weight:700;
	padding-top:5px;
	background:url(img/headerback.png) repeat-x
}

#headerclose {
	width:28px;
	background:url(img/headerclose.png) no-repeat
}

#title,#status,#posstr,#durstr {
	display:inline
}

#menu td {
	font-family:Sans-Serif;
	font-size:12px;
	padding:1px 5px
}

#menu,#controlbar {
	background:#ece6d4
}

#statusbar td {
	font-family:Sans-Serif;
	font-size:12px
}

#video,#statusbar {
	color:#FFF;
	background:#000
}

#video {
	cursor:pointer;
	padding:1px
}

#controlbar {
	height:28px;
	background:url(img/controlback.png) repeat-x
}

#controlbuttonplay {
	width:25px;
	height:28px;
	background:url(img/controlbuttonplay.png) no-repeat
}

#controlbuttonpause {
	width:23px;
	height:28px;
	background:url(img/controlbuttonpause.png) no-repeat
}

#controlbuttonstop {
	width:25px;
	height:28px;
	background:url(img/controlbuttonstop.png) no-repeat
}

#controlbuttonskipback {
	width:24px;
	height:28px;
	background:url(img/controlbuttonskipback.png) no-repeat
}

#controlbuttondecrate {
	width:22px;
	height:28px;
	background:url(img/controlbuttondecrate.png) no-repeat
}

#controlbuttonincrate {
	width:23px;
	height:28px;
	background:url(img/controlbuttonincrate.png) no-repeat
}

#controlbuttonskipforward {
	width:28px;
	height:28px;
	background:url(img/controlbuttonskipforward.png) no-repeat
}

#controlbuttonstep {
	width:31px;
	height:28px;
	background:url(img/controlbuttonstep.png) no-repeat
}

#controlvolumemute {
	width:28px;
	height:28px;
	background:url(img/controlvolumeon.png) no-repeat
}

#controlvolumebar {
	width:55px;
	height:28px;
	background:url(img/controlvolumebar.png) no-repeat
}

#seekbar {
	background:url(img/seekbarmid.png) repeat-x
}

#seekbar td {
	height:15px
}

#leftside {
	width:4px;
	background:url(img/leftside.png) repeat-y
}

#rightside {
	width:4px;
	background:url(img/rightside.png) repeat-y
}

#leftbottomside {
	width:4px;
	height:4px;
	background:url(img/leftbottomside.png) repeat-x
}

#bottomside {
	height:4px;
	background:url(img/bottomside.png) repeat-x
}

#rightbottomside {
	width:4px;
	height:4px;
	background:url(img/rightbottomside.png) repeat-x
}

#header,#center {
	width:100%
}

#debug {
	white-space:pre-wrap
}