*.a
*.aps
*.db
*.old
*.opendb
*.opensdf
*.psess
*.pyc
*.sdf
*.suo
*.tss
*.user
*.vspx
/.cov/*
/.git-rewrite
/.vs
/bin
/bin17
/build.user.bat
/contrib/[Aa][Ss]tyle.exe
/contrib/cov-int
/contrib/cov_upload.log
/contrib/MPC-HC.tar.xz
/contrib/MPC-HC.tar
/contrib/MPC-HC.tgz
/distrib/*.exe
/build/version_rev.h
/signinfo.txt
/src/filters/transform/VSFilter/installer/*.exe
/src/mpc-hc/mpcresources/backup
/src/mpc-hc/mpcresources/*.rc
/src/mpc-hc/mpcresources/tx.exe
/src/mpc-hc/res/mpc-hc.exe.manifest
/src/MPCTestAPI/bin
/src/MPCTestAPI/bin17
/src/thirdparty/DoctorDump/obj
/src/thirdparty/LAVFilters/obj
ipch
