[submodule "lcms2"]
    path = src/thirdparty/lcms2/library
    url = https://github.com/mm2/Little-CMS.git
[submodule "RARFileSource"]
    path = src/thirdparty/RARFileSource/library
    url = https://github.com/mpc-hc/rarfilesource.git
[submodule "src/thirdparty/LAVFilters/src"]
	path = src/thirdparty/LAVFilters/src
	url = https://code.google.com/p/lavfilters/
