[submodule "lcms2"]
    path = src/thirdparty/lcms2/library
    url = https://github.com/mm2/Little-CMS.git
[submodule "RARFileSource"]
    path = src/thirdparty/RARFileSource/library
    url = https://github.com/mpc-hc/rarfilesource.git
[submodule "LAVFilters"]
    path = src/thirdparty/LAVFilters/src
    url = https://github.com/mpc-hc/LAVFilters.git
[submodule "src/thirdparty/rapidjson"]
	path = src/thirdparty/rapidjson
	url = https://github.com/miloyip/rapidjson.git
